:root {
  --modal-border-color: #ccc;
}

div.modal-background {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #eee;
  opacity: 0.8;
}

div.modal {
  width: 1280px;
  z-index: 3;
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  border: 1px solid var(--modal-border-color);
}

.modal-content {
  padding: 20px;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--modal-border-color);
}

.modal-title-close:hover {
  opacity: 0.5;
  cursor: pointer;
}
